--
-- PostgreSQL database dump
--

\restrict Ib4IbMmNuF1wu47rjVQISnlIZ06DGXRxfYxaf03uIKBdGhcGEdXcTcyRjjmA4nG

-- Dumped from database version 16.13
-- Dumped by pg_dump version 16.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: vedura
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO vedura;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: vedura
--

COMMENT ON SCHEMA public IS '';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: vedura
--

CREATE TABLE public.alembic_version (
    version_num character varying(64) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO vedura;

--
-- Name: attendance; Type: TABLE; Schema: public; Owner: vedura
--

CREATE TABLE public.attendance (
    id uuid NOT NULL,
    session_id uuid NOT NULL,
    student_id integer NOT NULL,
    checkin_time timestamp with time zone NOT NULL,
    status character varying(20) NOT NULL,
    confidence double precision,
    device_id uuid,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    sync_time timestamp with time zone DEFAULT now() NOT NULL,
    deleted_at timestamp with time zone,
    CONSTRAINT ck_attendance_status CHECK (((status)::text = ANY ((ARRAY['present'::character varying, 'late'::character varying, 'absent'::character varying])::text[])))
);


ALTER TABLE public.attendance OWNER TO vedura;

--
-- Name: course_enrollments; Type: TABLE; Schema: public; Owner: vedura
--

CREATE TABLE public.course_enrollments (
    id uuid NOT NULL,
    student_id integer NOT NULL,
    enrolled_at timestamp with time zone DEFAULT now() NOT NULL,
    course_id uuid NOT NULL
);


ALTER TABLE public.course_enrollments OWNER TO vedura;

--
-- Name: courses; Type: TABLE; Schema: public; Owner: vedura
--

CREATE TABLE public.courses (
    id uuid NOT NULL,
    course_name character varying(255) NOT NULL,
    subject character varying(255),
    instructor_id uuid,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    deleted_at timestamp with time zone,
    course_code character varying(50),
    created_by uuid,
    updated_by uuid,
    attendance_mode character varying(20) NOT NULL,
    attendance_before_minutes integer NOT NULL,
    attendance_after_minutes integer NOT NULL,
    department_id uuid,
    room_id uuid,
    CONSTRAINT ck_courses_attendance_mode CHECK (((attendance_mode)::text = ANY ((ARRAY['preset'::character varying, 'flexible'::character varying, 'custom'::character varying])::text[])))
);


ALTER TABLE public.courses OWNER TO vedura;

--
-- Name: departments; Type: TABLE; Schema: public; Owner: vedura
--

CREATE TABLE public.departments (
    id uuid NOT NULL,
    code character varying(50) NOT NULL,
    name character varying(255) NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    deleted_at timestamp with time zone,
    created_by uuid,
    updated_by uuid
);


ALTER TABLE public.departments OWNER TO vedura;

--
-- Name: devices; Type: TABLE; Schema: public; Owner: vedura
--

CREATE TABLE public.devices (
    id uuid NOT NULL,
    device_name character varying(100),
    device_type character varying(50) NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    last_active_at timestamp with time zone,
    ip_address character varying(45),
    deleted_at timestamp with time zone,
    mac_address character varying(17),
    device_code character varying(50) NOT NULL,
    created_by uuid,
    updated_by uuid,
    room_id uuid
);


ALTER TABLE public.devices OWNER TO vedura;

--
-- Name: face_embeddings; Type: TABLE; Schema: public; Owner: vedura
--

CREATE TABLE public.face_embeddings (
    id uuid NOT NULL,
    student_id integer NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    device_id uuid,
    is_active boolean NOT NULL,
    quality_score double precision,
    captured_at timestamp with time zone DEFAULT now() NOT NULL,
    embedding json NOT NULL,
    deleted_at timestamp with time zone
);


ALTER TABLE public.face_embeddings OWNER TO vedura;

--
-- Name: refresh_tokens; Type: TABLE; Schema: public; Owner: vedura
--

CREATE TABLE public.refresh_tokens (
    id uuid NOT NULL,
    user_id uuid NOT NULL,
    token_jti character varying(64) NOT NULL,
    device_id character varying(255),
    expires_at timestamp with time zone NOT NULL,
    revoked boolean NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    device_info jsonb
);


ALTER TABLE public.refresh_tokens OWNER TO vedura;

--
-- Name: rooms; Type: TABLE; Schema: public; Owner: vedura
--

CREATE TABLE public.rooms (
    id uuid NOT NULL,
    code character varying(50) NOT NULL,
    name character varying(255) NOT NULL,
    building character varying(100),
    floor integer,
    capacity integer,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    deleted_at timestamp with time zone,
    created_by uuid,
    updated_by uuid,
    CONSTRAINT ck_rooms_code_not_empty CHECK (((code)::text <> ''::text))
);


ALTER TABLE public.rooms OWNER TO vedura;

--
-- Name: schedules; Type: TABLE; Schema: public; Owner: vedura
--

CREATE TABLE public.schedules (
    id uuid NOT NULL,
    course_id uuid NOT NULL,
    day_of_week integer NOT NULL,
    time_slot_id integer NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    deleted_at timestamp with time zone,
    created_by uuid,
    updated_by uuid,
    CONSTRAINT ck_day_of_week CHECK (((day_of_week >= 1) AND (day_of_week <= 7)))
);


ALTER TABLE public.schedules OWNER TO vedura;

--
-- Name: sessions; Type: TABLE; Schema: public; Owner: vedura
--

CREATE TABLE public.sessions (
    id uuid NOT NULL,
    course_id uuid NOT NULL,
    schedule_id uuid,
    status character varying(20) NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    start_time timestamp with time zone NOT NULL,
    end_time timestamp with time zone,
    checkin_window_start timestamp with time zone,
    checkin_window_end timestamp with time zone,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    deleted_at timestamp with time zone,
    session_date date NOT NULL,
    CONSTRAINT ck_session_status CHECK (((status)::text = ANY ((ARRAY['scheduled'::character varying, 'active'::character varying, 'closed'::character varying])::text[]))),
    CONSTRAINT ck_session_status_db CHECK (((status)::text = ANY ((ARRAY['scheduled'::character varying, 'active'::character varying, 'closed'::character varying])::text[])))
);


ALTER TABLE public.sessions OWNER TO vedura;

--
-- Name: student_groups; Type: TABLE; Schema: public; Owner: vedura
--

CREATE TABLE public.student_groups (
    id uuid NOT NULL,
    code character varying(50) NOT NULL,
    name character varying(255),
    advisor_id uuid,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    deleted_at timestamp with time zone,
    created_by uuid,
    updated_by uuid,
    department_id uuid
);


ALTER TABLE public.student_groups OWNER TO vedura;

--
-- Name: students; Type: TABLE; Schema: public; Owner: vedura
--

CREATE TABLE public.students (
    id integer NOT NULL,
    user_id uuid NOT NULL,
    pin character varying(10),
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    student_group_id uuid,
    deleted_at timestamp with time zone,
    student_code character varying(50),
    created_by uuid,
    updated_by uuid
);


ALTER TABLE public.students OWNER TO vedura;

--
-- Name: students_id_seq; Type: SEQUENCE; Schema: public; Owner: vedura
--

CREATE SEQUENCE public.students_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.students_id_seq OWNER TO vedura;

--
-- Name: students_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: vedura
--

ALTER SEQUENCE public.students_id_seq OWNED BY public.students.id;


--
-- Name: teachers; Type: TABLE; Schema: public; Owner: vedura
--

CREATE TABLE public.teachers (
    id integer NOT NULL,
    user_id uuid NOT NULL,
    teacher_id character varying(50),
    phone character varying(20),
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    deleted_at timestamp with time zone,
    department_id uuid
);


ALTER TABLE public.teachers OWNER TO vedura;

--
-- Name: teachers_id_seq; Type: SEQUENCE; Schema: public; Owner: vedura
--

CREATE SEQUENCE public.teachers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.teachers_id_seq OWNER TO vedura;

--
-- Name: teachers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: vedura
--

ALTER SEQUENCE public.teachers_id_seq OWNED BY public.teachers.id;


--
-- Name: time_slots; Type: TABLE; Schema: public; Owner: vedura
--

CREATE TABLE public.time_slots (
    id integer NOT NULL,
    period_number integer NOT NULL,
    start_time time with time zone NOT NULL,
    end_time time with time zone NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.time_slots OWNER TO vedura;

--
-- Name: time_slots_id_seq; Type: SEQUENCE; Schema: public; Owner: vedura
--

CREATE SEQUENCE public.time_slots_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.time_slots_id_seq OWNER TO vedura;

--
-- Name: time_slots_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: vedura
--

ALTER SEQUENCE public.time_slots_id_seq OWNED BY public.time_slots.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: vedura
--

CREATE TABLE public.users (
    id uuid NOT NULL,
    email character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    full_name character varying(255) NOT NULL,
    role character varying(20) NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    avatar_url character varying(500),
    deleted_at timestamp with time zone,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.users OWNER TO vedura;

--
-- Name: students id; Type: DEFAULT; Schema: public; Owner: vedura
--

ALTER TABLE ONLY public.students ALTER COLUMN id SET DEFAULT nextval('public.students_id_seq'::regclass);


--
-- Name: teachers id; Type: DEFAULT; Schema: public; Owner: vedura
--

ALTER TABLE ONLY public.teachers ALTER COLUMN id SET DEFAULT nextval('public.teachers_id_seq'::regclass);


--
-- Name: time_slots id; Type: DEFAULT; Schema: public; Owner: vedura
--

ALTER TABLE ONLY public.time_slots ALTER COLUMN id SET DEFAULT nextval('public.time_slots_id_seq'::regclass);


--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: vedura
--

COPY public.alembic_version (version_num) FROM stdin;
c3385166bfd9
\.


--
-- Data for Name: attendance; Type: TABLE DATA; Schema: public; Owner: vedura
--

COPY public.attendance (id, session_id, student_id, checkin_time, status, confidence, device_id, created_at, sync_time, deleted_at) FROM stdin;
\.


--
-- Data for Name: course_enrollments; Type: TABLE DATA; Schema: public; Owner: vedura
--

COPY public.course_enrollments (id, student_id, enrolled_at, course_id) FROM stdin;
\.


--
-- Data for Name: courses; Type: TABLE DATA; Schema: public; Owner: vedura
--

COPY public.courses (id, course_name, subject, instructor_id, created_at, updated_at, deleted_at, course_code, created_by, updated_by, attendance_mode, attendance_before_minutes, attendance_after_minutes, department_id, room_id) FROM stdin;
\.


--
-- Data for Name: departments; Type: TABLE DATA; Schema: public; Owner: vedura
--



--
-- Data for Name: devices; Type: TABLE DATA; Schema: public; Owner: vedura
--

COPY public.devices (id, device_name, device_type, is_active, created_at, updated_at, last_active_at, ip_address, deleted_at, mac_address, device_code, created_by, updated_by, room_id) FROM stdin;
\.


--
-- Data for Name: face_embeddings; Type: TABLE DATA; Schema: public; Owner: vedura
--

COPY public.face_embeddings (id, student_id, created_at, updated_at, device_id, is_active, quality_score, captured_at, embedding, deleted_at) FROM stdin;
\.


--
-- Data for Name: refresh_tokens; Type: TABLE DATA; Schema: public; Owner: vedura
--



--
-- Data for Name: rooms; Type: TABLE DATA; Schema: public; Owner: vedura
--



--
-- Data for Name: schedules; Type: TABLE DATA; Schema: public; Owner: vedura
--

COPY public.schedules (id, course_id, day_of_week, time_slot_id, created_at, updated_at, deleted_at, created_by, updated_by) FROM stdin;
\.


--
-- Data for Name: sessions; Type: TABLE DATA; Schema: public; Owner: vedura
--

COPY public.sessions (id, course_id, schedule_id, status, created_at, start_time, end_time, checkin_window_start, checkin_window_end, updated_at, deleted_at, session_date) FROM stdin;
\.


--
-- Data for Name: student_groups; Type: TABLE DATA; Schema: public; Owner: vedura
--

COPY public.student_groups (id, code, name, advisor_id, created_at, updated_at, deleted_at, created_by, updated_by, department_id) FROM stdin;
268f9b04-b04f-4553-b3d1-99805d106228	0001	48K21.2	4cf3005c-9790-4d53-995c-a3121ce6c945	2026-03-23 04:13:04.780159+00	2026-03-23 04:13:04.780165+00	\N	\N	\N	9dc6f0cb-0c7b-4dda-83e2-a1ac0a50b523
ef3ee2ea-aa74-4c4f-aa01-e8a3f478836f	0002	48K14.1	4cf3005c-9790-4d53-995c-a3121ce6c945	2026-03-23 04:13:54.613906+00	2026-03-23 04:13:54.613916+00	\N	\N	\N	9dc6f0cb-0c7b-4dda-83e2-a1ac0a50b523
\.


--
-- Data for Name: students; Type: TABLE DATA; Schema: public; Owner: vedura
--



--
-- Data for Name: teachers; Type: TABLE DATA; Schema: public; Owner: vedura
--



--
-- Data for Name: time_slots; Type: TABLE DATA; Schema: public; Owner: vedura
--

COPY public.time_slots (id, period_number, start_time, end_time, created_at) FROM stdin;
1	1	07:30:00+00	08:15:00+00	2026-03-19 16:13:11.462218+00
2	2	08:20:00+00	09:05:00+00	2026-03-19 16:13:11.462218+00
3	3	09:10:00+00	09:55:00+00	2026-03-19 16:13:11.462218+00
4	4	10:00:00+00	10:45:00+00	2026-03-19 16:13:11.462218+00
5	5	10:50:00+00	11:35:00+00	2026-03-19 16:13:11.462218+00
6	6	13:00:00+00	13:45:00+00	2026-03-19 16:13:11.462218+00
7	7	13:50:00+00	14:35:00+00	2026-03-19 16:13:11.462218+00
8	8	14:40:00+00	15:25:00+00	2026-03-19 16:13:11.462218+00
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: vedura
--



--
-- Name: students_id_seq; Type: SEQUENCE SET; Schema: public; Owner: vedura
--

SELECT pg_catalog.setval('public.students_id_seq', 7, true);


--
-- Name: teachers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: vedura
--

SELECT pg_catalog.setval('public.teachers_id_seq', 4, true);


--
-- Name: time_slots_id_seq; Type: SEQUENCE SET; Schema: public; Owner: vedura
--

SELECT pg_catalog.setval('public.time_slots_id_seq', 8, true);


--
-- Name: student_groups academic_classes_pkey; Type: CONSTRAINT; Schema: public; Owner: vedura
--

ALTER TABLE ONLY public.student_groups
    ADD CONSTRAINT academic_classes_pkey PRIMARY KEY (id);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: vedura
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: attendance attendance_pkey; Type: CONSTRAINT; Schema: public; Owner: vedura
--

ALTER TABLE ONLY public.attendance
    ADD CONSTRAINT attendance_pkey PRIMARY KEY (id);


--
-- Name: courses classes_pkey; Type: CONSTRAINT; Schema: public; Owner: vedura
--

ALTER TABLE ONLY public.courses
    ADD CONSTRAINT classes_pkey PRIMARY KEY (id);


--
-- Name: course_enrollments classroom_students_pkey; Type: CONSTRAINT; Schema: public; Owner: vedura
--

ALTER TABLE ONLY public.course_enrollments
    ADD CONSTRAINT classroom_students_pkey PRIMARY KEY (id);


--
-- Name: departments departments_pkey; Type: CONSTRAINT; Schema: public; Owner: vedura
--

ALTER TABLE ONLY public.departments
    ADD CONSTRAINT departments_pkey PRIMARY KEY (id);


--
-- Name: devices devices_pkey; Type: CONSTRAINT; Schema: public; Owner: vedura
--

ALTER TABLE ONLY public.devices
    ADD CONSTRAINT devices_pkey PRIMARY KEY (id);


--
-- Name: face_embeddings face_embeddings_pkey; Type: CONSTRAINT; Schema: public; Owner: vedura
--

ALTER TABLE ONLY public.face_embeddings
    ADD CONSTRAINT face_embeddings_pkey PRIMARY KEY (id);


--
-- Name: refresh_tokens refresh_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: vedura
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT refresh_tokens_pkey PRIMARY KEY (id);


--
-- Name: rooms rooms_pkey; Type: CONSTRAINT; Schema: public; Owner: vedura
--

ALTER TABLE ONLY public.rooms
    ADD CONSTRAINT rooms_pkey PRIMARY KEY (id);


--
-- Name: schedules schedules_pkey; Type: CONSTRAINT; Schema: public; Owner: vedura
--

ALTER TABLE ONLY public.schedules
    ADD CONSTRAINT schedules_pkey PRIMARY KEY (id);


--
-- Name: sessions sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: vedura
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_pkey PRIMARY KEY (id);


--
-- Name: students students_pkey; Type: CONSTRAINT; Schema: public; Owner: vedura
--

ALTER TABLE ONLY public.students
    ADD CONSTRAINT students_pkey PRIMARY KEY (id);


--
-- Name: students students_student_code_key; Type: CONSTRAINT; Schema: public; Owner: vedura
--

ALTER TABLE ONLY public.students
    ADD CONSTRAINT students_student_code_key UNIQUE (student_code);


--
-- Name: teachers teachers_pkey; Type: CONSTRAINT; Schema: public; Owner: vedura
--

ALTER TABLE ONLY public.teachers
    ADD CONSTRAINT teachers_pkey PRIMARY KEY (id);


--
-- Name: teachers teachers_teacher_id_key; Type: CONSTRAINT; Schema: public; Owner: vedura
--

ALTER TABLE ONLY public.teachers
    ADD CONSTRAINT teachers_teacher_id_key UNIQUE (teacher_id);


--
-- Name: time_slots time_slots_period_number_key; Type: CONSTRAINT; Schema: public; Owner: vedura
--

ALTER TABLE ONLY public.time_slots
    ADD CONSTRAINT time_slots_period_number_key UNIQUE (period_number);


--
-- Name: time_slots time_slots_pkey; Type: CONSTRAINT; Schema: public; Owner: vedura
--

ALTER TABLE ONLY public.time_slots
    ADD CONSTRAINT time_slots_pkey PRIMARY KEY (id);


--
-- Name: attendance uq_attendance_session_student; Type: CONSTRAINT; Schema: public; Owner: vedura
--

ALTER TABLE ONLY public.attendance
    ADD CONSTRAINT uq_attendance_session_student UNIQUE (session_id, student_id);


--
-- Name: course_enrollments uq_enrollment_course_student; Type: CONSTRAINT; Schema: public; Owner: vedura
--

ALTER TABLE ONLY public.course_enrollments
    ADD CONSTRAINT uq_enrollment_course_student UNIQUE (course_id, student_id);


--
-- Name: schedules uq_schedule_course_day_slot; Type: CONSTRAINT; Schema: public; Owner: vedura
--

ALTER TABLE ONLY public.schedules
    ADD CONSTRAINT uq_schedule_course_day_slot UNIQUE (course_id, day_of_week, time_slot_id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: vedura
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: ix_attendance_checkin_time; Type: INDEX; Schema: public; Owner: vedura
--

CREATE INDEX ix_attendance_checkin_time ON public.attendance USING btree (checkin_time);


--
-- Name: ix_attendance_deleted_at; Type: INDEX; Schema: public; Owner: vedura
--

CREATE INDEX ix_attendance_deleted_at ON public.attendance USING btree (deleted_at);


--
-- Name: ix_attendance_device_id; Type: INDEX; Schema: public; Owner: vedura
--

CREATE INDEX ix_attendance_device_id ON public.attendance USING btree (device_id);


--
-- Name: ix_attendance_id; Type: INDEX; Schema: public; Owner: vedura
--

CREATE INDEX ix_attendance_id ON public.attendance USING btree (id);


--
-- Name: ix_attendance_session_id; Type: INDEX; Schema: public; Owner: vedura
--

CREATE INDEX ix_attendance_session_id ON public.attendance USING btree (session_id);


--
-- Name: ix_attendance_session_student; Type: INDEX; Schema: public; Owner: vedura
--

CREATE INDEX ix_attendance_session_student ON public.attendance USING btree (session_id, student_id);


--
-- Name: ix_attendance_status; Type: INDEX; Schema: public; Owner: vedura
--

CREATE INDEX ix_attendance_status ON public.attendance USING btree (status);


--
-- Name: ix_attendance_student_id; Type: INDEX; Schema: public; Owner: vedura
--

CREATE INDEX ix_attendance_student_id ON public.attendance USING btree (student_id);


--
-- Name: ix_course_enrollments_course_id; Type: INDEX; Schema: public; Owner: vedura
--

CREATE INDEX ix_course_enrollments_course_id ON public.course_enrollments USING btree (course_id);


--
-- Name: ix_course_enrollments_student_id; Type: INDEX; Schema: public; Owner: vedura
--

CREATE INDEX ix_course_enrollments_student_id ON public.course_enrollments USING btree (student_id);


--
-- Name: ix_courses_deleted_at; Type: INDEX; Schema: public; Owner: vedura
--

CREATE INDEX ix_courses_deleted_at ON public.courses USING btree (deleted_at);


--
-- Name: ix_courses_department_id; Type: INDEX; Schema: public; Owner: vedura
--

CREATE INDEX ix_courses_department_id ON public.courses USING btree (department_id);


--
-- Name: ix_courses_id; Type: INDEX; Schema: public; Owner: vedura
--

CREATE INDEX ix_courses_id ON public.courses USING btree (id);


--
-- Name: ix_courses_instructor_id; Type: INDEX; Schema: public; Owner: vedura
--

CREATE INDEX ix_courses_instructor_id ON public.courses USING btree (instructor_id);


--
-- Name: ix_courses_room_id; Type: INDEX; Schema: public; Owner: vedura
--

CREATE INDEX ix_courses_room_id ON public.courses USING btree (room_id);


--
-- Name: ix_departments_code; Type: INDEX; Schema: public; Owner: vedura
--

CREATE UNIQUE INDEX ix_departments_code ON public.departments USING btree (code);


--
-- Name: ix_departments_deleted_at; Type: INDEX; Schema: public; Owner: vedura
--

CREATE INDEX ix_departments_deleted_at ON public.departments USING btree (deleted_at);


--
-- Name: ix_departments_id; Type: INDEX; Schema: public; Owner: vedura
--

CREATE INDEX ix_departments_id ON public.departments USING btree (id);


--
-- Name: ix_departments_name; Type: INDEX; Schema: public; Owner: vedura
--

CREATE INDEX ix_departments_name ON public.departments USING btree (name);


--
-- Name: ix_devices_deleted_at; Type: INDEX; Schema: public; Owner: vedura
--

CREATE INDEX ix_devices_deleted_at ON public.devices USING btree (deleted_at);


--
-- Name: ix_devices_device_code; Type: INDEX; Schema: public; Owner: vedura
--

CREATE UNIQUE INDEX ix_devices_device_code ON public.devices USING btree (device_code);


--
-- Name: ix_devices_id; Type: INDEX; Schema: public; Owner: vedura
--

CREATE INDEX ix_devices_id ON public.devices USING btree (id);


--
-- Name: ix_devices_room_id; Type: INDEX; Schema: public; Owner: vedura
--

CREATE INDEX ix_devices_room_id ON public.devices USING btree (room_id);


--
-- Name: ix_enrollment_course_student; Type: INDEX; Schema: public; Owner: vedura
--

CREATE INDEX ix_enrollment_course_student ON public.course_enrollments USING btree (course_id, student_id);


--
-- Name: ix_face_embeddings_deleted_at; Type: INDEX; Schema: public; Owner: vedura
--

CREATE INDEX ix_face_embeddings_deleted_at ON public.face_embeddings USING btree (deleted_at);


--
-- Name: ix_face_embeddings_device_id; Type: INDEX; Schema: public; Owner: vedura
--

CREATE INDEX ix_face_embeddings_device_id ON public.face_embeddings USING btree (device_id);


--
-- Name: ix_face_embeddings_id; Type: INDEX; Schema: public; Owner: vedura
--

CREATE INDEX ix_face_embeddings_id ON public.face_embeddings USING btree (id);


--
-- Name: ix_face_embeddings_is_active; Type: INDEX; Schema: public; Owner: vedura
--

CREATE INDEX ix_face_embeddings_is_active ON public.face_embeddings USING btree (is_active);


--
-- Name: ix_face_embeddings_student; Type: INDEX; Schema: public; Owner: vedura
--

CREATE INDEX ix_face_embeddings_student ON public.face_embeddings USING btree (student_id);


--
-- Name: ix_face_embeddings_student_id; Type: INDEX; Schema: public; Owner: vedura
--

CREATE INDEX ix_face_embeddings_student_id ON public.face_embeddings USING btree (student_id);


--
-- Name: ix_refresh_tokens_token_jti; Type: INDEX; Schema: public; Owner: vedura
--

CREATE UNIQUE INDEX ix_refresh_tokens_token_jti ON public.refresh_tokens USING btree (token_jti);


--
-- Name: ix_refresh_tokens_user_id; Type: INDEX; Schema: public; Owner: vedura
--

CREATE INDEX ix_refresh_tokens_user_id ON public.refresh_tokens USING btree (user_id);


--
-- Name: ix_rooms_code; Type: INDEX; Schema: public; Owner: vedura
--

CREATE UNIQUE INDEX ix_rooms_code ON public.rooms USING btree (code);


--
-- Name: ix_rooms_deleted_at; Type: INDEX; Schema: public; Owner: vedura
--

CREATE INDEX ix_rooms_deleted_at ON public.rooms USING btree (deleted_at);


--
-- Name: ix_rooms_id; Type: INDEX; Schema: public; Owner: vedura
--

CREATE INDEX ix_rooms_id ON public.rooms USING btree (id);


--
-- Name: ix_schedules_course_id; Type: INDEX; Schema: public; Owner: vedura
--

CREATE INDEX ix_schedules_course_id ON public.schedules USING btree (course_id);


--
-- Name: ix_schedules_deleted_at; Type: INDEX; Schema: public; Owner: vedura
--

CREATE INDEX ix_schedules_deleted_at ON public.schedules USING btree (deleted_at);


--
-- Name: ix_sessions_course_id; Type: INDEX; Schema: public; Owner: vedura
--

CREATE INDEX ix_sessions_course_id ON public.sessions USING btree (course_id);


--
-- Name: ix_sessions_course_start; Type: INDEX; Schema: public; Owner: vedura
--

CREATE INDEX ix_sessions_course_start ON public.sessions USING btree (course_id, start_time);


--
-- Name: ix_sessions_deleted_at; Type: INDEX; Schema: public; Owner: vedura
--

CREATE INDEX ix_sessions_deleted_at ON public.sessions USING btree (deleted_at);


--
-- Name: ix_sessions_id; Type: INDEX; Schema: public; Owner: vedura
--

CREATE INDEX ix_sessions_id ON public.sessions USING btree (id);


--
-- Name: ix_student_groups_advisor_id; Type: INDEX; Schema: public; Owner: vedura
--

CREATE INDEX ix_student_groups_advisor_id ON public.student_groups USING btree (advisor_id);


--
-- Name: ix_student_groups_code; Type: INDEX; Schema: public; Owner: vedura
--

CREATE UNIQUE INDEX ix_student_groups_code ON public.student_groups USING btree (code);


--
-- Name: ix_student_groups_deleted_at; Type: INDEX; Schema: public; Owner: vedura
--

CREATE INDEX ix_student_groups_deleted_at ON public.student_groups USING btree (deleted_at);


--
-- Name: ix_student_groups_department_id; Type: INDEX; Schema: public; Owner: vedura
--

CREATE INDEX ix_student_groups_department_id ON public.student_groups USING btree (department_id);


--
-- Name: ix_student_groups_id; Type: INDEX; Schema: public; Owner: vedura
--

CREATE INDEX ix_student_groups_id ON public.student_groups USING btree (id);


--
-- Name: ix_students_deleted_at; Type: INDEX; Schema: public; Owner: vedura
--

CREATE INDEX ix_students_deleted_at ON public.students USING btree (deleted_at);


--
-- Name: ix_students_student_group_id; Type: INDEX; Schema: public; Owner: vedura
--

CREATE INDEX ix_students_student_group_id ON public.students USING btree (student_group_id);


--
-- Name: ix_students_user_id; Type: INDEX; Schema: public; Owner: vedura
--

CREATE UNIQUE INDEX ix_students_user_id ON public.students USING btree (user_id);


--
-- Name: ix_teachers_deleted_at; Type: INDEX; Schema: public; Owner: vedura
--

CREATE INDEX ix_teachers_deleted_at ON public.teachers USING btree (deleted_at);


--
-- Name: ix_teachers_department_id; Type: INDEX; Schema: public; Owner: vedura
--

CREATE INDEX ix_teachers_department_id ON public.teachers USING btree (department_id);


--
-- Name: ix_teachers_user_id; Type: INDEX; Schema: public; Owner: vedura
--

CREATE UNIQUE INDEX ix_teachers_user_id ON public.teachers USING btree (user_id);


--
-- Name: ix_users_deleted_at; Type: INDEX; Schema: public; Owner: vedura
--

CREATE INDEX ix_users_deleted_at ON public.users USING btree (deleted_at);


--
-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: vedura
--

CREATE UNIQUE INDEX ix_users_email ON public.users USING btree (email);


--
-- Name: ix_users_id; Type: INDEX; Schema: public; Owner: vedura
--

CREATE INDEX ix_users_id ON public.users USING btree (id);


--
-- Name: student_groups academic_classes_advisor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: vedura
--

ALTER TABLE ONLY public.student_groups
    ADD CONSTRAINT academic_classes_advisor_id_fkey FOREIGN KEY (advisor_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: attendance attendance_device_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: vedura
--

ALTER TABLE ONLY public.attendance
    ADD CONSTRAINT attendance_device_id_fkey FOREIGN KEY (device_id) REFERENCES public.devices(id) ON DELETE SET NULL;


--
-- Name: attendance attendance_session_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: vedura
--

ALTER TABLE ONLY public.attendance
    ADD CONSTRAINT attendance_session_id_fkey FOREIGN KEY (session_id) REFERENCES public.sessions(id) ON DELETE CASCADE;


--
-- Name: attendance attendance_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: vedura
--

ALTER TABLE ONLY public.attendance
    ADD CONSTRAINT attendance_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.students(id) ON DELETE CASCADE;


--
-- Name: courses classes_teacher_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: vedura
--

ALTER TABLE ONLY public.courses
    ADD CONSTRAINT classes_teacher_id_fkey FOREIGN KEY (instructor_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: course_enrollments classroom_students_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: vedura
--

ALTER TABLE ONLY public.course_enrollments
    ADD CONSTRAINT classroom_students_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.students(id) ON DELETE CASCADE;


--
-- Name: course_enrollments course_enrollments_course_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: vedura
--

ALTER TABLE ONLY public.course_enrollments
    ADD CONSTRAINT course_enrollments_course_id_fkey FOREIGN KEY (course_id) REFERENCES public.courses(id) ON DELETE CASCADE;


--
-- Name: courses courses_department_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: vedura
--

ALTER TABLE ONLY public.courses
    ADD CONSTRAINT courses_department_id_fkey FOREIGN KEY (department_id) REFERENCES public.departments(id) ON DELETE SET NULL;


--
-- Name: courses courses_room_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: vedura
--

ALTER TABLE ONLY public.courses
    ADD CONSTRAINT courses_room_id_fkey FOREIGN KEY (room_id) REFERENCES public.rooms(id) ON DELETE SET NULL;


--
-- Name: devices devices_room_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: vedura
--

ALTER TABLE ONLY public.devices
    ADD CONSTRAINT devices_room_id_fkey FOREIGN KEY (room_id) REFERENCES public.rooms(id) ON DELETE SET NULL;


--
-- Name: face_embeddings face_embeddings_device_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: vedura
--

ALTER TABLE ONLY public.face_embeddings
    ADD CONSTRAINT face_embeddings_device_id_fkey FOREIGN KEY (device_id) REFERENCES public.devices(id) ON DELETE SET NULL;


--
-- Name: face_embeddings face_embeddings_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: vedura
--

ALTER TABLE ONLY public.face_embeddings
    ADD CONSTRAINT face_embeddings_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.students(id) ON DELETE CASCADE;


--
-- Name: teachers fk_teachers_department; Type: FK CONSTRAINT; Schema: public; Owner: vedura
--

ALTER TABLE ONLY public.teachers
    ADD CONSTRAINT fk_teachers_department FOREIGN KEY (department_id) REFERENCES public.departments(id) ON DELETE SET NULL;


--
-- Name: refresh_tokens refresh_tokens_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: vedura
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT refresh_tokens_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: schedules schedules_classroom_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: vedura
--

ALTER TABLE ONLY public.schedules
    ADD CONSTRAINT schedules_classroom_id_fkey FOREIGN KEY (course_id) REFERENCES public.courses(id) ON DELETE CASCADE;


--
-- Name: schedules schedules_time_slot_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: vedura
--

ALTER TABLE ONLY public.schedules
    ADD CONSTRAINT schedules_time_slot_id_fkey FOREIGN KEY (time_slot_id) REFERENCES public.time_slots(id);


--
-- Name: sessions sessions_classroom_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: vedura
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_classroom_id_fkey FOREIGN KEY (course_id) REFERENCES public.courses(id) ON DELETE CASCADE;


--
-- Name: sessions sessions_schedule_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: vedura
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_schedule_id_fkey FOREIGN KEY (schedule_id) REFERENCES public.schedules(id) ON DELETE SET NULL;


--
-- Name: student_groups student_groups_department_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: vedura
--

ALTER TABLE ONLY public.student_groups
    ADD CONSTRAINT student_groups_department_id_fkey FOREIGN KEY (department_id) REFERENCES public.departments(id) ON DELETE SET NULL;


--
-- Name: students students_academic_class_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: vedura
--

ALTER TABLE ONLY public.students
    ADD CONSTRAINT students_academic_class_id_fkey FOREIGN KEY (student_group_id) REFERENCES public.student_groups(id) ON DELETE SET NULL;


--
-- Name: students students_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: vedura
--

ALTER TABLE ONLY public.students
    ADD CONSTRAINT students_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: teachers teachers_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: vedura
--

ALTER TABLE ONLY public.teachers
    ADD CONSTRAINT teachers_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: vedura
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict Ib4IbMmNuF1wu47rjVQISnlIZ06DGXRxfYxaf03uIKBdGhcGEdXcTcyRjjmA4nG

